<p>
    <span interface="action.create"></span>
</p>
<p>
    需要：
    <%= sub.name %> :
    <%
    for(r in rule.need.sub){
    %>
    <span interface="property.<%=r%>" ></span>: <%=rule.need.sub[r]%>
    <%
    }%>
    <%= obj.name %> :
    <%
    for(r in rule.need.obj){
    %>
    <span interface="property.<%=r%>" ></span>: <%=rule.need.obj[r]%>
    <%
    }
    %>
</p>
<p>
    可能得到：
    <%= sub.name %> :
    <%
    for(r in rule.get.sub){
    %>
    <span interface="property.<%=r%>" ></span>: <%=rule.get.sub[r]%>
    <%
    }%>
    <%= obj.name %> :
    <%
    for(r in rule.get.obj){
    %>
    <span interface="property.<%=r%>" ></span>: <%=rule.get.obj[r]%>
    <%
    }
    %>
</p>