<p>
    <button type="button" class="setCenter btn btn-sm btn-default"><span class="glyphicon glyphicon-screenshot"></span></button>
</p>
<p>
    <span interface="type.self">Person</span> - <%=name%>:
</p>
<p>
    <span interface="property.power"></span> <%=power%>,
    <span interface="property.visualRange"></span> <%=visualRange%>
</p>

<p>
<ul class="actions">
    <li>
        <button class="btn btn-sm btn-default" data-action="create"><span interface="action.create"></span></button>
    </li>

</ul>
</p>