#message {
    width: 80%;

    position:absolute;
    top:0;
    left:10%;
    z-index:200;

    border: 1px solid;
    padding: 5px;

    background-color: rgba(255,255,255,0.8);
}

#message .messageD {
    margin:5px;
    border-bottom:solid,1px;
}